* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
}
header {
    height: 100px;
    background-color: #817f7f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
}
h1 {
    font-size: 50px;
    margin: 20px;
}
h3 {
    font-size: 30px;
}
.options{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.options button {
    border: 1px solid #000;
    height: 40px;
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin: 30px;
}
.score {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}
.score div {
    border: 2px solid #000;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;
    width: 200px;
}
.score p {
    font-size: 60px;
}
.new-game {
    height: 40px;
    width: 100px;
}

.score-text {
    font-size: 40px;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #817f7f;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}